@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    font-family: 'Roboto-thin', sans-serif;
    background-color: black;
    
}
* {
    scroll-behavior: smooth;
}

#logoFermin{
    max-height: 30px;
}

.nav-item{
    background-color: rgba(31, 31, 31, 0.817);
}

.nav-link{
    font-family:"Roboto-thin", sans-serif !important;
    color: gold!important
}

.navbar-brand{
    text-align: center;
}
h1{
    color: aliceblue;
    font-size: 1.5em !important;
}
h2{
    color: aliceblue;
    font-size:1.3em !important;
    font-weight: lighter;
    
}
nav a img{
    margin-left: 10px;
}
nav ul li a{
    font-family: 'Roboto-thin', sans-serif;
    font-style: none;
    text-decoration: none;
    font-size: 1em;
    color: gold;
}
nav ul li a:hover{
    color:fuchsia;
}

header nav{
    height: 45px;
}

#btn-yellow{
    background-color: gold;
}

.jumbotron{
    background-image: url("../img/jumbo2.jpg")!important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-bottom: 0;

}

#Logo{
    max-width: 300px;

    resize: both;
}
@media all and(max-width:400px){
    #Logo{
        visibility: hidden!important
    }
}

.centrar{
    
    text-align: center;
    color: aliceblue;
   
}

.btn{
    margin-top: 2em !important;
}

.about-me{
    margin-top:0;
    background:linear-gradient(to bottom, gold 0%, #006666 100%);
    text-align: center; 
}
#about{
    margin-top:-45px;
}
.about-me .row h2{
    margin-top: 30px;
    font-size: 2.5em !important;
    font-family: 'Raleway', sans-serif;
    color:black;
    
}

.about-me .row h3{
    font-size:.8em;
}

main .about-me .container .row{
    margin-bottom: 5px;
}
main .about-me .container img{
    margin-top:5px;
}


.my-services{
    text-align: center;
    background-color:white;
    background-size: 100%,100%;
}

.my-services .row h3{
    font-size:.8em;
    text-align: center;
    color: gold;
}

.my-services .row h2{
    margin-top: 30px;
    font-size: 2.5em !important;
    font-family: 'Raleway', sans-serif;
    color: gold;
    text-align: center
}
#bombilla{
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.my-profile .row p{
    color: aliceblue
}

.my-profile{
    background-image: url("../img/fermin.jpeg");
    background-size: 100%;
    background-attachment:fixed;
    margin-top: -45px;
}


#profile .container{
    margin-top:45px;
    color: aliceblue
}

#profile h2{
    margin-top: 45px;
    color: aliceblue;
}

#profile h3{
    color:aliceblue;
}

footer{
    background-color: black;
}

#go-home{
    text-decoration: none;
    color:goldenrod;
}

#Copyright{
    color: aliceblue;
}
/*---------SECCION CONTACTO----------*/
#Contacto{
    background-color: black;
}
#rowContacto{
    background:linear-gradient(to bottom, #006666 0%, #99ffcc 100%);
   
}

#infoContacto{
    background-color: rgba(240, 248, 255, 0.548);
    opacity: .8;
    padding-top: 2em;
    margin-top: 4em;
    margin-bottom: 4em;
}


#formulario{
    margin-top: 4em;
    margin-bottom: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: rgba(240, 248, 255, 0.53);
    opacity: .8;

}


.iconos:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}




/*---------SECCION CONTACTO---------*/

@media screen and (max-width: 720px)
{
    .iconos{
        display: none;
    }

   #Logo{
       display: none;
   }

   #home{
       margin-top: 32px;
   }
   /* .parrafo-profile{
        display: block;
        margin-top: 10px;
        font-size: 18px;
    }*/

    #bombilla{
       height: 200px;
       margin-bottom: 70px;
    }

    .sm-parrafos{
        margin-left: 5px;
    }
    
    #infoContacto{
        margin-top: 25px;
    }

    #formulario{
        margin-top: -40px;
        margin-bottom: 25px;
    }
    .contacto{
        margin-left:5px;
    }
    #Copyright{
        margin-top:-10px;
    }

    #profile h2{
        margin-top:35px;
    }
    #profile {
        height: 240px;
    }
    #learn-more{
        margin-bottom:20px;
    }
    #creative-web{
        margin-top:10px;
    }
}
@media screen and (max-width:667px){
    #Contacto{
        margin-top:-22px
    }
}
@media screen and (max-width:567px){
    #Contacto{
        margin-top:-40px;
    }
    #profile {
        height: 220px;
        background-color: rgb(38, 38, 38);
        
    }
    #creative-web{
        margin-top:0px;
    }
    #learn-more{
        margin-bottom:5px;
    }
    
    
    .sm-parrafos{
        margin-top:-10px;
    }
    #whoiam{
        font-size:1.2em;
    }
    #iam{
        font-size:1.4em;
    }
    #home{
        margin-top:8px;
        margin-bottom: 9px;
    }
    footer{
        width: 100%;
        margin-right:0;
        background-color:black;
    }
    .container-footer{
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 1000px){
    #profile{
 
       background-image: url("../img/fermin.jpeg");
        background-size: 100%;
        background-attachment: scroll;
        background-position-y: auto; 
        background-repeat: no-repeat; 
        margin-top: -45px;
    }

}

@media all and(max-width:300px){
    #profile div h3{
        font-size: 16px;
    }
}
footer{
    background-color:black;
}

/* Seccion serivicos */

#titulo-servicios{
    margin-left: 43%;
    margin-top: 30px;
    font-size: 2.5em !important;
    font-family: 'Raleway', sans-serif;
    color: gold;
    text-align: center
}

.columna-servicios{
    margin-top: 20px;
    list-style: none;
    padding: 5px;
}

#seleccionar{
    margin-top:48px!important;
}


@media screen and(max-width:600px){
    #titulo-servicios{
        margin-left:40%;
    }
    .gohome{
        background:linear-gradient(to bottom, #006666 0%, #99ffcc 100%)!important;
        background-image: none;
    }

}

#gracias {
    font-size: 50px;
    padding-left: 10px;
    padding-right: -10px;
    margin-left: 80px;
    margin-right: -20px!important;
    margin-bottom: 40px!important;
    color: aliceblue
}

.gohome{
    margin-top: -32px;
    padding-top: 32px;
    background-image: url("../img/et.jpg");
    background-size: 100%;
    background-position-y: auto; 
    background-repeat: no-repeat; 
}
/*Efectos*/

#bombilla:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}


